html {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: justify;
    /*background-color: #E0FFFF;*/
    padding: 5px;
}

/*h1 { padding-top: 6px; padding-bottom: 6px; padding: 0px;}
h2 { padding-top: 4px; padding-bottom: 4px; padding: 0px;}
h3 { padding-top: 2px; padding-bottom: 2px; padding: 0px;}
h4 { padding-top: 1.5px; padding-bottom: 1.5px; padding: 0px;}*/

body {
padding: 10px; 
width: 650px; 
margin: 0 auto;}

.kod {
    font-family: Consolas;
    background: #DCDCDC;
    border: 1px solid black;
    padding: 35px; 
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: pre;
}
